body {
    background-image: url('../img/background.png');
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 3vh;
}

.button-group {
    margin-bottom: 2vh; 
}

.btn {
    margin: 0.5vh;
}

.card-img-top:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

#title {
    color: white;
    text-shadow: 2px 2px black;
}

input {
    text-align: center;
}

.session-alert {
    text-align: center;
}

tr,th,td {
    color: white;
    text-shadow: 2px 2px black;
}