body {
    /* background-image: url('../img/background.png');
    background-repeat: repeat; */
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 3vh;
}

.button-group {
    margin-bottom: 3vh; 
}

.btn {
    margin: 0.5vh;
}

.card-img-top:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

#title {
    color: black;
}

input {
    text-align: center;
}

.session-alert {
    text-align: center;
}